html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
#share-link {
	display: inline;
	width: 50%;
	height: 24px;
	margin-left: 1%;
}
#copy-button {
	height: 24px;
	padding-top: 0px;
	margin-top: -5px;
	margin-left: 8px;
}
#note-views {
	float: right;
	font-size: 14px;
}
#rounded-image {
	border-radius: 4px;
}
#file-list {
	list-style-type: none;
	padding: 0px;
}
#file-list li {
	margin-right: 8px;
	display: inline-block;
}
#file-list li .border {
	padding: 3px;
}
.file-icon {
    width: 16px;
    height: 16px;
}
#loadcaptcha {
	text-align: center;
}
